<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Judo Heroes - A Universal JavaScript demo application with React</title>
  </head>
  <body>
    <div id="root"><%- markup -%></div>
    <div id="abar">
      <a href="https://nodejsdesignpatterns.com" target="_blank">Want to know more about Node.js, React and Universal Javascript?</a>
    </div>
    <script type="text/javascript" charset="utf-8">
      window.__initialState__ = '<%= reduxState %>';
    </script>

    <% scriptSrcs.forEach(function(src){ %>
      <script src="../../<%= src %>"></script>
    <% }) %>
  </body>
</html>
